<!doctype html>
<html>
<head>
  <title>Ask Palette!</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h2>Show me...</h2>
  <div onKeyPress="checkEnter(event)" style="overflow: hidden; padding-right: .5em;">
    <input id="input" type="text" value="{{query}}" style="width: 25%;" />
    <input onclick="gooo()" type="submit" value="Submit" />
  </div>

  {% if query %}
    {% include 'query.html' %}
  {% endif %}
  
  {% if fail %}
    <h2>Oops, an API key expired. Cached results are still available.</h2>
  {% endif %}

  <h5>Ask Palette by Enoch Chen</h5>

</body>
</html>
