<!doctype html>
<html>
<head>
  <title>Ask Palette!</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h2>What's up?</h2>
  <div style="overflow: hidden; padding-right: .5em;">
    <input id="input" type="text" value="{{query}}" style="width: 25%;" />
    <input onclick="gooo()" type="submit" value="Submit" />
  </div>

  {% if query %}
    {% include 'query.html' %}
  {% endif %}

</body>
</html>
